In [17]:
# Importing the required libraries and dependencies
import numpy as np
import pandas as pd
import hvplot.pandas
import sqlalchemy

# Create a temporary SQLite database and populate the database with content from the etf.db seed file
database_connection_string = 'sqlite:///etf.db'

# Create an engine to interact with the SQLite database
engine = sqlalchemy.create_engine(database_connection_string)

# Confirm that table names contained in the SQLite database.
engine.table_names()

C:\Users\Fragata Capital\.conda\envs\dev\lib\site-packages\ipykernel_launcher.py:14: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)

['GDOT', 'GS', 'PYPL', 'SQ']

In [18]:
## Analyze a single asset in the Fintech ETF

In [19]:
# Write a SQL `SELECT` statement by using an f-string that reads all the PYPL data from the database.
# Using the SQL `SELECT` statement, execute a query that reads the PYPL data from the database into a Pandas DataFrame

In [34]:
pypl_data=("""SELECT * FROM "PYPL"
"""
)
engine.execute(pypl_data)

In [41]:
list(pypl_data)

['S',
 'E',
 'L',
 'E',
 'C',
 'T',
 ' ',
 '*',
 ' ',
 'F',
 'R',
 'O',
 'M',
 ' ',
 '"',
 'P',
 'Y',
 'P',
 'L',
 '"',
 '\n']